<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link rel="stylesheet" href="styleshome.css">
</head>
<body>

    <section id='navbar'>
        <div class="container">
            <nav class="navbar">
                <a class="navbar-brand" style="color: white;">InviteBox</a>
                <form class="form-inline" method="GET" action='/signup'>
                <button class="btn btn-outline-light" id='signin' type="submit">Sign Up</button>
                </form>
              </nav>        
        </div>
        <div class="container intro">
            <h1 id='mainintro'>Online Invitation Maker – Bring Everyone Together for Life’s Precious Moments
            </h1>
            <p style='color:white; text-align:center; margin-top: 3rem; margin-bottom: 1.5rem;'>Our invitation maker connects you and your loved ones for every occasion,big and small</p>
            <a href='/signup'><button class='btn btn-primary' id='create'>Create Invitations</button></a>
        </div>
        
    </section>
    <div class="container desc">
        <h2>Create stunning Invitations to impress your Guests</h2>
    </div>
</body>
</html>